*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

iframe {
    border: 0;
}

body{
    font-size: 15px;
    font-family: sans-serif;
}
#container{
    width: 80%;
    max-width: 1200px;
    background-color: rgb(200, 232, 245);
    border: 2px solid black;
    display: flex;
    margin: 0 auto ;
}

h1{
    text-align: center;
}
.item{
    border: 2px solid red;
    width: 33.33%;
    padding: 10px;

}