*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

iframe{
    border: 0;
}

html{
    scroll-behavior: smooth;
}

button{
    border: 0;
    background-color: 0;
    cursor: pointer;
}

body{
    --color-fondo-contenido: white;
    --tamaño-letras: 16px;
    --tipofrafia-contenido: 'Roboto Slab', serif;
    --color-letras: black;
    --color-span: rgb(166, 162, 162);
}

body{
    font-family: 'Roboto Slab', serif;
    font-size: var(--tamaño-letras);
    background-color: var(--color-fondo-contenido);
    color: var(--color-letras);
}

#cont{
    width: 100%;
    height: 100vh;
    display: flex;
}

.item{
    border: 2px solid red;
    margin: auto;
    width: 400px;
    height: 100px;
}

#text1{
    clip-path: polygon(0 0, 0 0, 0 96%, 0% 100%);
    background-color: black;
    color: rgb(252, 247, 247);
    margin-bottom: 10px;
    width: 0;
    height: 50px;
    transition: 2s linear;
}

#text2{
    border: 1px solid rgb(93, 10, 10);
    color: white;
    background-color: orangered;
    width: 0;
    height: 30px;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    transition: 2s linear;
}

.item:hover #text1{
    width: 400px;
    clip-path: polygon(0 0, 88% 0, 100% 100%, 0 100%);
}

.item:hover #text2{
    width: 400px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    
}