@use "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: variables.$background;
  color: variables.$font-color-primary;
  font-family: variables.$font-primary;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
