@use "./variables";
@use "./mixins";

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 50px 0;

  &__figure {
    width: 100%;
    max-width: 100px;
    overflow: hidden;
    &-image {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }

  &__name {
    font-size: 14px;
    text-align: center;
    &-country {
      font-size: 10px;
      color: variables.$font-color-secondary;
    }
  }

  &__data {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 12px;

    &-item {
      width: 78px;
      height: 52px;
      border-radius: 12px;
      background: #e5e5e5;
      text-align: center;
      padding-top: 10px;

      & span {
        color: variables.$font-color-secondary;
      }
    }
  }

  @include mixins.small {
    &__figure {
      max-width: 300px;
    }

    &__name {
      font-size: 44px;
      line-height: 35px;
      &-country {
        font-size: 14px;
      }
    }

    &__data {
      gap: 24px;
      &-item {
        width: 100px;
        height: 67px;
        font-size: 18px;

        & span {
          font-size: 14px;
        }
      }
    }
  }
}
