@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Playfair+Display:ital@0;1&display=swap");

$background: #fff;
$font-color-primary: #4e5150;
$font-color-secondary: #a9a9a9;
$font-primary: "Montserrat", sans-serif;
