@import 'sass/variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

img {
	width: 100%;
}

body {
	font-family: $font-family-primary;
	background-color: $background;
	color: $font-size;
	font-style: normal;
}
