@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Lora:wght@400;500&family=Montserrat:wght@300;500&display=swap');

$background: #181719;
$font-color: #FFF;
$font-primary: 'Montserrat', sans-serif;
$font-secundary: 'Lora', serif;
$font-tertiary: 'Crimson Text', serif;