*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

iframe {
    border: 0;
}

#container{
    width: 500px;
    height: 500px; 
    background-color: rgb(200, 232, 245);
    border: 1px solid blue;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    font-weight: bold;
    width: 100px;
    height: 100px;
    background-color: brown;
    color: aliceblue;
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}