@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Playfair+Display:ital@0;1&display=swap");

$background: #fff;
$font-color: #000;
$font-color-adition: #333;
$font-color-secundary: #bdbdbd;
$background-icons: #f2994a;
$font-primary: "Montserrat", sans-serif;
$font-secundary: "Playfair Display", serif;
