@import '../../sass/mixins';

.skills {
	display: flex;
	flex-direction: column;
	gap: 30px;

	&__item {
		@include sections;
		height: auto;
		padding: 24px;

		& h3 {
			font-size: 18px;
			font-weight: 700;
		}

		& p {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 17px;

			& progress {
				width: 236px;
				height: 20px;
			}
		}
	}

	@include desktop {
		flex-direction: row;
	}
}
