@use "variables";
@use "mixins";

.form {
  padding: 2px;
  margin: auto;

  &__box {
    display: flex;
    flex-direction: column;
    gap: 41px;
    width: 100%;
    max-width: 360px;

    &-subtitle {
      display: block;
      font-size: 14px;
    }

    &-inputs {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    gap: 10px;

    &-box {
      transform: scale(1.5);
      cursor: pointer;
    }

    &-text {
      font-size: 10px;
      color: variables.$font-color-adition;
    }
  }

  &__submit {
    margin-left: auto;
    border: none;
    width: 166px;
    height: 54px;
    color: white;
    background: #f2994a;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s linear;

    &:hover {
      background-color: #e0e0e0;
      color: #828282;
    }
  }
  @include mixins.small {
    &__box {
      &-subtitle {
        font-size: 18px;
      }
    }

    &__checkbox {
      &-text {
        font-size: 12px;
      }
    }
  }
}

.input__box {
  width: 100%;
  max-width: 350px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid variables.$borde-input;
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;

  &--incorrect {
    border: 1px solid red;
  }

  &--correct {
    border: 1px solid variables.$borde-input;
  }

  &-icon {
    color: #828282;
    margin-left: 5px;
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" -25, "opsz" 48;
  }

  &-input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    position: relative;
    color: #828282;

    &-arrow {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url("../assets/expand_more_FILL1_wght400_GRAD0_opsz48.png");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 20px;
      padding-right: 20px;
      color: #828282;
      margin-right: 10px;
      z-index: 1;

      &-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 20px;
        height: 20px;
        margin-top: 8px;
        margin-right: 10px;
        background-color: #e0e0e0;
        border-radius: 5px;
      }
    }
  }

  &-label {
    position: absolute;
    top: -25px;
    left: 0;
  }

  @include mixins.small {
    &-input {
      height: 55px;
      font-size: 16px;
    }
  }
}
