@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Playfair+Display:ital@0;1&display=swap");

$background: #fff;
$background-products: #f2f2f2;
$font-color: #333;
$font-color-adition: #4f4f4f;
$font-family-primary: "Montserrat", sans-serif;
$borde-input: #828282;
