@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');

$font-family-primary: 'Poppins', sans-serif;
$color-paragrahp:#4F4F4F;
$color-buttons:#2D9CDB;
$color-title:#333;
$background-front:#27AE60;
$background-back:#EB5757;
$color-figcaption:#828282;
$background-and-text:#FFFFFF;
$background-footer:#100E1D;
$font-size-subtitle-small: 24px;
$font-size-subtitle-tall: 36px;
$font-size-paragrahp: 16px;
